<h6 class="ms-5 p-2 mt-5">{{data}}</h6>

<div class="container w-50 rounded text-center p-5 mt-5 ">
    <h1 id="btn"><b>Welcome Back !</b></h1>
    <form action="">
        <div class="p-3 mt-2">
            <input (change)="emailChange($event)" id="acid" name="email" class="form-control" type="text" [placeholder]="inputplaceholder">
        </div>

        <div class="p-3 mt-2">
            <input (change)="pswChange($event)" id="psw" name="paswrd" class="form-control" type="password" [placeholder]="pswplaceholder">
        </div>

        <div class="p-3 mt-2">
            <button (click)="login()" class="btn " type="submit"><b>Login</b></button>
        </div>
    </form>
</div>
