
.hero-image {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.postimg.cc/vmCm3x4H/Whats-App-Image-2023-03-22-at-8-02-56-AM.jpg"); */
    /* height: 79vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 350px;
  }
  .hero-text{
    color: aliceblue;
  }
  .navbar{
   background-color: rgba(21, 83, 9, 0.507);
   position: absolute;
   z-index: 2;
   width: 100%;
  }