<header class="bg-light">
  <nav class="text-center navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand"
        ><img
          class="hdr"
          src="https://i.postimg.cc/G3gFWHyM/2122091.webp"
          alt=""
        /><b style="color: rgb(230, 235, 235)"
          >Farm <span style="color: orangered">Wise</span></b
        ></a>
      

      <div style="text-align: center" id="navbarScroll">
        <ul
          class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
          style="--bs-scroll-height: 100px"
        >
          <li class="nav-item">
            <a href="/login" class="nav-link"
              ><b style="color: #ffffff">Home</b></a
            >
          </li>

          <li class="nav-item">
            <a href="/login" class="nav-link"
              ><b style="color: #ffffff">Product</b></a
            >
          </li>

          <li class="nav-item">
            <a href="/login" class="nav-link"
              ><b style="color: #ffffff">About</b></a
            >
          </li>

          <li class="nav-item">
            <a href="/login" class="nav-link"
              ><b style="color: #ffffff">Services</b></a
            >
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <a href="/login">
          <button
            style="background-color: orangered; color: aliceblue"
            type="button"
            class="btn btn-btn-lg"
          >
            <b>Login</b>
          </button></a
        >
      </div>
    </div>
  </nav>
</header>

<div class="hero-image text-center">
  <div class="hero-text">
    <h1 style="font-size: 50px">GROWING FOR A BETTER TOMARROW</h1>
    <div class="h4">
      <h4>GET THE HEALTHIEST VEGITABLES AND FRUITS POSSIBLE EVERY MONTH</h4>
    </div>

    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
      <a href="/login">
        <button
          style="background-color: orangered; color: aliceblue"
          type="button"
          class="btn btn-btn-lg">
          <b>GET MY PRODUCTS </b>
        </button></a>
    </div>


    <div class="container-fluid text-dark">
      <div class="row">
        <div class="col">
          <p class="text-black">
            choose from our tasty, impressive products you're proud to share with the people you love.
          </p>
        </div>
        <div class="col">
          <img src="https://i.postimg.cc/nVdG1PCT/996fd6f52adca0b29a3a528144797f97.jpg" alt="">
        </div>
      </div>
    </div>





    <!-- <div>
    <p class="text-black">
      choose from our tasty, impressive products you're proud to share with the people you love.
    </p>
   </div> -->
    <div class="container text-center">
      <div class="row text-black">
        <div class="col">vegitables</div>
        <div class="col">leafs</div>
        <div class="col">fruits</div>
        <div class="col">berries</div>
      </div>

      <p>boxes</p>
      <div class="container-fluid text-dark">
        <div class="row">
          <div class="col">1 of 2</div>
          <div class="col">
            2 of 2
            <div class="row">
              <div class="col">1 of 2</div>
              <div class="col">2 of 2</div>
            </div>
          </div>
        </div>
      </div>

      <!-- <button>Hire me</button> -->
    </div>
  </div>

  <footer class="bg-light text-center text-white">
    <div
      class="text-center p-3"
      style="background-color: rgba(18, 50, 12, 0.758)"
    >
      <b> 2023 Copyright website © Farm Wise</b>
    </div>
  </footer>
</div>
