
.hero-image {
    background-image:url("https://i.postimg.cc/vBCbt6sf/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 350px;
  }
  .hero-text{
    color: aliceblue;
  }
  .navbar{
   background-color: rgba(21, 83, 9, 0.507);
   position: absolute;
   z-index: 2;
   width: 100%;
  }
  .h4{
    color: red;
  }
  img{
    max-width: 100%;
    height: auto;
    /* margin-top: 100px; */
  }
  .vegs {
    margin-top: 200px;
  }