<header class="bg-light sticky-top">
  <nav class="text-center navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand"
        ><img
          class="hdr"
          src="https://i.postimg.cc/G3gFWHyM/2122091.webp"
          alt=""
        />
        <b >Farm <span style="color: orangered">Wise</span></b
        ></a>
      

      <div style="text-align: center" id="navbarScroll">
        <ul
          class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
          style="--bs-scroll-height: 100px">

          <ng-container *ngIf="this.auth.isAuthenticated();then authenticated; else notAuthenticated">


          </ng-container>
          <ng-template #notAuthenticated>
            <li class="nav-item">
              <a href="/login" class="nav-link"
                ><b>Home</b></a>
            </li>
          </ng-template>

          <ng-template #authenticated>
  
            <li class="nav-item">
              <a href="/login" class="nav-link"
                ><b >Product</b></a
              >
            </li>
  
            <li class="nav-item">
              <a href="/login" class="nav-link"
                ><b >About</b></a
              >
            </li>
  
            <li class="nav-item">
              <a href="/login" class="nav-link"
                ><b >Services</b></a
              >
            </li>
          </ng-template>

        </ul>
      </div>
      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <a href="/login">
          <button
            style="background-color: orangered; color: aliceblue"
            type="button"
            class="btn btn-btn-lg"
          >
            <b>Login</b>
          </button></a
        >
      </div>
    </div>
  </nav>
</header>


<div class="hero-image ">
  <div class="container">
    <div class="row">
      <div class="col-6">
  <div class="hero-text">
    <h1 style="font-size: 50px">GROWING FOR A BETTER TOMARROW</h1>
    <div class="h4">
      <h5>Get the healthiest vegitables and fruits possible every month</h5>
    </div>

    <div class="mt-4 ">
      <a href="">
        <button
            style="background-color: orangered; color: aliceblue"
            type="button"
            class="btn btn-btn-lg"
          >
            <b>Get my Product</b>
          </button></a>
        
    </div>
  </div>


</div>

<div class="vegs col-6 ">
  <img src="https://i.postimg.cc/Pf04sfyx/vegetables-download-vegetable-photos-png-image-pngimg-3.png" alt="">
</div>


</div>
</div>

</div>






    <!-- <div>
    <p class="text-black">
      choose from our tasty, impressive products you're proud to share with the people you love.
    </p>
   </div> -->
    <div class="service-area container">
      <div class="row">
        <div class=" service-box col-sm-4">
          <img src="https://i.postimg.cc/1tMgfsKK/1-1-370x315.webp" alt="">
          <h4>Vegitables</h4>
          <a href="">
            <button
                style="background-color: orangered; color: aliceblue"
                type="button"
                class="btn btn-btn-lg"
              >
                <b>Read more</b>
              </button></a>
        </div>
        <div class=" service-box col-sm-4">
          <img src="https://i.postimg.cc/j2FL4cmw/1-2-370x315.webp" alt="">
          <h4>Vegitables</h4>
          <a href="">
            <button
                style="background-color: orangered; color: aliceblue"
                type="button"
                class="btn btn-btn-lg"
              >
                <b>Read more</b>
              </button></a>
        </div>
        <div class=" service-box col-sm-4">
          <img src="https://i.postimg.cc/8Px7FyLx/1-3-370x315.webp" alt="">
          <h4>Vegitables</h4>
          <a href="">
            <button
                style="background-color: orangered; color: aliceblue"
                type="button"
                class="btn btn-btn-lg"
              >
                <b>Read more</b>
              </button></a>
        </div>
                                                                                    

      </div>

    </div>


  <footer class="bg-light text-center text-white">
    <div
      class="text-center p-3"
      style="background-color: rgba(18, 50, 12, 0.758)"
    >
      <b> 2023 Copyright website © Farm Wise</b>
    </div>
  </footer>

